@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html, body {
  background-color: rgb(0, 0, 0);
  font-size: 10px;
  text-align: justify;
  height: min-content;
  width: 100vw;
  padding: 0;
}

@font-face {
  font-family: "Lemon/Milk light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk light Regular"),
    url("fonts/LemonMilklight.woff") format("woff");
}

.logo-bar {
  position: fixed;
  background-color: #000000;
  margin: 0;
  padding: 0;
  top: 0;
  box-shadow: 0px 10px 58px -50px #fff;
  width: 100%;
  display: flex;
  align-items: center;
}

.commune-logo {
  width: 15%;
}

.commune {
  font-family: "Lemon/Milk light Regular";
  color: white;
  margin: 0 0 0 0;
  font-size: 8rem;
}

.container {
  padding: 20% 0 0 0;
  margin: 0% 15% 1% 15%;
  width: 70%;
  font-size: 4rem;
}

.commune-small {
  font-family: "Lemon/Milk light Regular";
  color: white;
  margin: 0 auto;
}

.title{
  font-family: "Lemon/Milk light Regular";
  font-weight: bold;
  color:white;
}

.orange {
  background-color: #000000;
  background-image: linear-gradient(90deg, #f28e26 0%, #fd644f 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.whitepaper-text{
  font-family: 'Roboto Condensed';
  color:white;
  font-size: 3.2rem;
}

.large-text {
  font-size: 4rem;
}

.larger-text {
  font-size: 5rem;
}

#list-1 {
  margin: 0 0 0 2rem;
}

.px-A {
  margin: 0 0 0 1.5rem;
}

@media (max-width: 920px) {
  html, body {
    font-size: 8px;
  }
}

@media (max-width: 530px) {
  html, body {
    font-size: 6px;
  }
  .container {
    margin: 5% 6% 5% 6%;
    width: 88% !important;
  }
}

@media (max-width: 400px) {
  html, body {
    font-size: 5px;
  }
}